@import url('https://fonts.googleapis.com/css?family=sans-serif');

:root {
    --background: rgb(63, 123, 191, 1);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300; 
    padding-bottom: 0px;
}

main {
    padding-top: 83px;
    padding-bottom: 100px;
}

.content {
    height: 200vh;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}

/* navigation styles start here */

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    margin: 0;
}

nav {
    position: absolute;
    text-align: right;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    background-color: #81a9eb;
    overflow: hidden; 
}

nav ul {
    text-align: right;
}

nav li {
    margin-bottom: 1em;
    margin-left: 2em;
    margin-top: 12px;
    margin-right: 2em;
    display: inline-block;
}

nav a {
    color: rgb(255, 255, 255);
    background-color: #5b8ee3;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}

nav a:hover {
    background-color: #2a6ad4;
    color: white;
    margin: 0;
    
    
}

.nav-toggle:checked ~ nav {
    display: flexbox;
    
}

.nav-toggle {
    display: none;
}

@media screen and (max-width: 500px){
    nav a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}

.logo {
    display: block;
    height: 50px;
    float:left;
    width: 50px;
    overflow: hidden;
    
}

/* nav styles finish here */

.footer li {
    list-style: none;
}

/* hero image styles */

.hero {
    display: flex;
    flex-direction: column;
    background-image: url(images/hacker.jpeg);
    height: 622px;
    width: 100%;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.hero-text {
    padding-top: 0px;
    margin-top: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
    
}
 
/* button styles */
.button {
    background-color: #5b8ee3;
    color: azure;
    font-size: 12px;
    padding: 14px 23px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    }

.button:hover {
    background-color: #2a6ad4;
}

/* button styles finish here */
/* image, text and button styling starts here */

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  img {
    max-width: 90%;
    margin-top: none;
  }
  .image {
    max-width: 60%;
    margin: 0px;
    margin-left: 30px;
  }

  .text {
    font-size: 18px;
    color: #00215b;
    padding-right: 30px;
    padding-bottom: 40px;
    background-color: #fff;
    margin: 0px;
    width: 100%;
  }


.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.text1 {
    font-size: 18px;
    color: #00215b;
    padding-left: 30px;
    padding-bottom: 40px;
    background-color: #fff;
    margin: 0px;
    width: 100%;
    text-align: right;
    
}

.image2 {
    padding-left: 50px;
}

.intro {
    color: #00215b;
    text-align: center;
    padding: 60px;
    background-color: #F4F6F4;
    width: 100%;
    
  }

.header1 {
    font-weight: 400px;
    height: 50px;
    margin-bottom: 30px;
    font-size: 26px;
}

.header2 {
    font-size: 40px;
    margin-bottom: 9px;
}

